<!DOCTYPE html>
<html lang="en">

<head>
  <title>Drinks</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/favicon.png" type="image/png"/>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>

<nav class="navbar-expand">

<div class="nav">

<ul class="navbar-nav">

<!-- Logo -->
<li id="logoli">
<h4><a href="/"><span style="padding:10px"><img id="logo" src="/images/drinks.png">Drinks</span></a></h4>
</li>

<li class="nav-item">
<a class="nav-link" href="/chat"><b>Chat</b></a>
</li>

</ul>
</div>
</nav>
